<p>switchdirective works!</p>

<input #colorname type="text" placeholder="Enter the Color Name"> 

<span [hidden]="isHidden" style="color: red;">Please Enter the correct color name  </span>
<br><br>
<button (click)="onSend(colorname.value)">Send</button>
<br><br>

<div [ngSwitch]="choice">
    <div *ngSwitchCase="'red'"
        [style.background]="choice"
    >Your color is {{choice}} </div>
    <div *ngSwitchCase="'green'"
    [style.background]="choice">Your color is {{choice}} </div>
    <div *ngSwitchCase="'blue'"
    [style.background]="choice">Your color is {{choice}} </div>
    <!-- <div *ngSwitchDefault
        [style.background]="choice==''?'black':'orange'"
        [style.color]="choice==''?'white':'black'"
    >your color name is wrong {{choice}} </div> -->

    <div *ngSwitchDefault
        [ngStyle]=" {
            background:choice==''?'black':'orange',
            color: choice==''?'white':'black'
        } "
       
    >your color name is wrong {{choice}} </div>

</div>