<p>eventbinding3 works!</p>

<!-- <input type="text" (keyup)="onKeyup()" placeholder=" keyup event .."> <br><br>

<input type="text" (keydown)="onKeydown()" placeholder=" keydown event .."> -->

<!-- keyboard filtering -->

    <!-- <input type="text" placeholder="Key board filtering" 
    (keyup.enter)="onEnterKey()"> -->

    <!-- without using event handler -->

    <!-- <button (click)="result=8+8">Addition</button>
    <h2> {{result}} </h2> -->
<!-- 
    <input type="text" [(ngModel)]="name"
     placeholder="Enter the name "> {{name}} -->

    <input #mydate type="date"><br><br>
    <button (click)="onSend(mydate.value)" >Send</button> <br><br>
    <h2>Age  :: {{age}} </h2>


